


<h1>Join Book Club</h1>
<p>Would you like to join?</p>
<form action="/bookclubs/:bookClubId/join" method="POST">
    <input type="submit" name="join" value="Yes">
    <input type="submit" name="join" value="No">
</form>