


<h1>Book List</h1>
<h2>Results for: {{searchTerm}}</h3>
<a href="/">Search</a>

<ul>
  {{#each books}}
  <li>
    <a class="book-link" href="/book{{this._id}}">
      <h3>{{this.title}}</h3>
      {{#if this.img}}
      <img src="{{this.img}}" alt="Book Cover">
      {{/if}}
    </a>
  </li>
  {{/each}}
</ul>