

<form action="/books/search" method="POST" class="search-form">
<label for="searcBook" class="form-label">Search Book:</label>
<div id="search-form">
    <input type="text" id="searchBookByName" name="searchBookByName" class="text-input">
    <input type="submit" value="Search" class="submit-button">
</div>
</form>